.btn {
    border-radius: 30px;
    border: 1px solid var(--c-border); 
    padding: 8px 32px; 
    display: inline-flex;
    align-items: center;
    gap: 16px;
    outline: 0;
    cursor: pointer;
    background: transparent;
    color: var(--c-text);
    font-family: var(--ff);
    font-size: 16px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.64px;
    text-transform: capitalize;
    transition: var(-transition);
    @include mobile {
        border-radius: 14px;
}

&__icon {
    width: 29px;
    height: 29px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: var(-transition);
}

svg {
    transition: var(-transition);
}

path {
    transition: var(-transition);

}

&:hover {
    background: var(--c-primary);
    color: var(--c-text-grey);
    transition: var(-transition);

    .btn__icon {
        border: 1px solid var(--c-border);
    }

    svg {
        transform: rotate(90deg);
        transition: var(-transition);
        path {
            stroke: var(--c-title);
        }
    }
}
}

.btn-solution {
    display: inline-flex;
    gap: 16px;
    align-items: center;
    border-radius: 30px;
    border: 1px solid var(--c-primary);
    background: var(--c-title);
    box-shadow: 2px 4px 7px 0px rgba(249, 206, 55, 0.42);
    padding: 24px 52px;
    color: var(--c-text-grey);
    font-family: var(--ff);
    font-size: 53px;
    font-weight: 400;
    letter-spacing: 5.3px;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    position: relative;
    z-index: 9;
    margin-right: 65px;
    transition: var(--transition);
    @include mobile {
        font-size: 34px;
        padding: 16px 18px;
        border-radius: 14px;
        margin-right: 0;}

    &._active {
        background: var(--c-primary);
    }
    
    }

.primary    {
    @include mobile{
       float: right;
}}