<section class="section-experience">
    <div class="section-experience container">
        <div class="section-experience__title"><span id="star"><img src="../../../img/experience/star.svg" alt="star"></span> My experience & Project </div>
        <img class="section-experience__img" src="../../../img/experience/experience.png" alt="experience">
        <div class="section-experience__desc">
            <div class="section-experience__item">
                <div class="item__year">2020-2022</div>
                <div class="item__company">Frontend developer in company “richmond”</div>
                <div class="item__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</div>
            </div>
            <div class="section-experience__item">
                <div class="item__year">2016-2020</div>
                <div class="item__company">Frontend junior in company “Unior”</div>
                <div class="item__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</div>
            </div>
        </div>
    </div>
</section>