.section-services {
    background: var(--c-bg-services);
    padding-top: 40px;
    padding-bottom: 40px;
}

.services {
    padding-top: 0;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    @include mobile {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}}

.services-item {
    border-radius: 30px;
    background: var(--c-bg-box);   
    padding: 24px 31px;
    display: grid;
    gap: 16px;
    @include mobile {
        padding: 16px;
    }

		&__icon {
            text-align: center;
		}

		&__text {
            color: var(--c-text-grey);
            font-family: var(--ff);
            font-size: 16px;
            font-weight: 400;
            line-height: 180%;
            text-transform: capitalize;
            @include mobile {
                font-size: 14px;
            }
		}
}
